*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: verdana;
}

body{
    background-color: rgb(230, 157, 157);
}
p{
    padding-bottom: 2em;
}

header{
    height: 7em;
    width: 100%;
    color: white;
    position:fixed;
}
 header div{
    font-size: 2em;
    color: rgb(197, 34, 34);
}
header nav {
    top: 1em;
    right: 2em;
    position: absolute;
}
header nav li {
    padding-left: 2em;
    display: inline-block; 
}
.enlace:hover {
    position: relative;
    left: 5px;
    color: white;
}

article{
    /*background-color: blue;*/
    width: 100%;
}
.column {
    float: left;
    width: 50%;
    padding:5%;
}
#izq{
    background-color: rgb(97, 69, 69);
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 10%;
}   
#derecha{
    position: absolute;
    width: 50%;
    float: right;
}
#tiempo{
    background-color: black;
    color: white;
    width: max-content;
    padding-top: 5%;
}
#titular{
    font-weight: bold;
    font-size: 2em;
}
#text{
    color: grey;
    font-size: medium;
    line-height: 2em;
}
#but{
    margin-right: 2em;
    background-color: rgb(105, 35, 35);
}