*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header{
    height: 7em;
    width: 100%;
    font-family: arial;
    color: white;
    position:fixed;
}
header nav {
    top: 1em;
    right: 2em;
    position: absolute;
}
header nav li {
    width: 10em;
    text-transform: uppercase;
    display: inline-block; 
}

article{
    background-image: url(images/fondo.jpg);
    background-size: cover;
    min-height: 700px;
    padding-top: 10em;
    padding-left: 50px;
    width: 100%;
}
main #text{
    width: 50%;
    margin-bottom: 15em;
}
#cosmos{
    width: 50%;
    float: right;
}
#raya{
    width: 100%;
}
#raya p{
    display: inline-block;
}
#raya hr{
    display: inline-block;
    padding-right: 80%;
    border-bottom: 1px solid black;
}

#pie{
    width: 100%;
    background-color: rgb(53, 51, 51);
    height: 4em;
    display: flex; 
    align-items: center;
    color:white;
}

#pie nav ul{
    list-style-type: none;

}
#pie nav li {
    padding-left: 2em;
    display: inline-block;
}
#yellow{
    color:yellow;
}