
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.tipos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

header {
    background-color: rgb(214, 140, 152);
}


figure{
    width: 100%;
    text-align: center; 
    width: 33%;
    padding: 10px;
}

div{ 
    width: 100%;
    background-color: pink;
    text-align: center;
    color: black;
    padding: 15px;
}

img {
    width: 100%;
    height: auto;
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1);
}




.blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}


